.connector {
	z-index: 999998;
	text-align:center;
	margin:0;
	padding:0;
	position:absolute;
	border:1px solid red;
	height:0px;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
}
